@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
  ;
}

body {
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #fdfb66, #d04623);		
	position: fixed;	
	height: 520px;
	width: 360px;	
	box-shadow: 0px 0px 24px #fcf9f6;
    
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 30%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #ff1333;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #ffffff, #f65884);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #fa2e2e;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login__field {
	padding: 10px 10px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
    /*align-items: center;
    margin: auto;*/
    text-align: center;
	padding: 10px;
	padding-left: 10px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #e4410a;
}

.login__submit {
	background: #fff;
	font-size: 14px;
    margin-left: 30px;
	padding: 13px 40px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	color: #d44714;
	box-shadow: 0px 2px 2px #c05f22;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #c6640f;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #c05f22;
}

.social-login {	
	position: absolute;
	height: 50px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #c05f22;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #c05f22;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

.button__text{
    text-align: center;
    margin: auto;
   
}

.main-logo{
	width: 60px;
	margin-left:90px;
	
}

.login {
	width: 297px;
    padding: 15px;
    padding-top: 70px;
}

.txt{
	margin: auto0;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;
}

.button{
	margin: auto;
	text-align: center;
	margin-top: 20px;
}